body.home-page {
    background-image: url('../images-gifs/b98b4c6a91ab12ba05328a752cfdce4f.gif');
    background-size: 750px;
}
.theme-list {
    display: flex;
    list-style: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    overflow-y: scroll;
}
.theme-list::-webkit-scrollbar {
    width: 6px;
  }
  
.theme-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
.theme-item {
    flex: 1 1 200px;
    margin: 0 10px 10px 0;
    padding: 10px;
    text-align: center;
}
.firstBox {
    margin: 7rem;
    padding: 7rem;
}
.secondBox {
    background-color: blue;
    margin: 7rem;
    padding: 7rem;
}