.minifig-list {
    display: flex;
    flex-wrap: wrap;
    /* These 2 lines of code were all I needed to make the code go horizantally and wrap at the end of the page */
    padding: 0;
    list-style: none;
}
.minifig-item {
    width: 200px;
    flex: 1 1 200px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.figPic{
    width: 100px;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.pageButton {
    margin-top: 2rem;
    background-color: red;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.pageButton:hover {
    background-color: yellow;
    color: blue;
}