.set-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.set-item {
    width: 200px;
    flex: 1 1 200px;
    margin: 0 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.setPic {
    width: 150px;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
